[Unit]
Description=Run automatic backup every [YOUR INTEGER VALUE] hours # For example 3

[Timer]
OnBootSec=[YOUR INTEGER VALUE]min # For example 5
OnUnitActiveSec=[YOUR INTEGER VALUE]h # For example 3
Persistent=true

[Install]
WantedBy=default.target


