[Unit]
Description=Run cleanup of old backups every [YOUR INTEGER VALUE] days # For example 15

[Timer]
OnBootSec=[YOUR INTEGER VALUE]min # For example 10
OnUnitActiveSec=[YOUR INTEGER VALUE]d # For example 15
Persistent=true

[Install]
WantedBy=default.target


